pytz
tzdata
six
numpy
certifi
python-dateutil
pandas
ucimlrepo
threadpoolctl
scipy
pyparsing
pillow
packaging
kiwisolver
joblib
graphviz
fonttools
cycler
contourpy
scikit-learn
matplotlib
scapy
mininet
